@* Interface Enumarable = Enumarate or list (to ascertain the number of : count) *@

@model IEnumerable<S1L03.Models.PersonModel>

@{
    ViewBag.Title = "List of People";
}

<h2>List of People</h2>

@*<p>
        @Html.ActionLink("Create New", "Create") >> In this overload it is the name and the action >> Link going nowhere.
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.myLink)
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (var item in Model) //For each person
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentNumber)
            </td>
            <td class="first-name">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a href="@Url.Content(item.myLink)" class="btn btn-primary" target="_blank">LINK</a>
            </td>
            <td>
                <button class="btn btn-primary remove-btn">Delete</button>
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
    }

</table>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Function to remove a row when "Delete" button is clicked
            let removeButtons = document.querySelectorAll(".remove-btn");

            removeButtons.forEach(button => {
                button.addEventListener("click", function () {
                    let row = this.closest("tr"); // Find the closest table row
                    row.remove();
                });
            });

            let rows = document.querySelectorAll("table tr");

            rows.forEach(row => {
                let firstNameCell = row.querySelector(".first-name"); // Get the first name cell

                if (firstNameCell) {
                    let name = firstNameCell.textContent.trim();
                    console.log("Checking name:", name);

                    if (name.startsWith("S")) {
                        row.querySelectorAll("td").forEach(cell => {
                            if (!cell.querySelector("button")) { // Exclude buttons
                                cell.style.color = "red";
                            }
                        });
                        console.log("Row text changed to red for:", name);
                    }
                }
            });
        });
    </script>
}


